@media screen and (min-width: $viewport-small) {
  // html {
  //   font-size: 16px;
  // }

  // h1,
  // .h1 {
  //   font-size: $h1;
  // }

  .site-header {
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  // .site-header a {
  //   font-size: $h4;
  // }

  .site-header .site-title {
    // font-size: $h3;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: .25rem;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}
strong img {
    max-width: 100vw;
    margin-left: -1em;
}
@media screen and (min-width: $measure-width + 2) {
  strong img {
    max-width: $measure-width + 2;
  }
}
@media screen and (min-width: $measure-width + 4) {
  strong img {
    max-width: $measure-width + 4;
    margin-left: -2em;
  }
}
